
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
h1{
    background: violet;
    padding: 60px;
    margin-top: -5px;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.site-wrapper{
    margin-top: -20px;
    background: orange;
    padding: 30px;
}
header nav .main-menu{
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}
/*
    li.menu-item là li cấp 1
*/
nav .main-menu li.menu-item {
    background: orange;
    float: right;
    position: relative;
    margin-top: -20px;
}
/*khi hover vào thẻ li cấp 1 */
nav .main-menu li.menu-item:hover > ul.submenu{
    display: block;
}
nav .main-menu li a{
    background: orange;
    color: white;
    font-size: 22px;
    display: block;
    text-decoration: none;
    padding: 10px 20px;
}
nav .main-menu li a:hover{
    background: blueviolet;

}
/*
    Begin submenu
*/
/*
     SUBMENU NẰM TRONG LI.MENU-ITEM CẤP 1
*/
nav li.menu-item > .submenu{
    display: none;
    min-width: 250px;
    position: absolute;
    top: 44px; /*độ rộng phía trên*/
    left: 0;

}
nav .submenu li.submenu-item{
    border-bottom: 1px solid white;
}
/*
    End menu
*/

.timkiem{
    margin-top: 20px;
}
.timkiem input:hover{
    background: palevioletred;
}
input:focus {
    background-color: yellow;
}
.content {
    display: inline-block;
    padding-right: 15px;
    padding-left: 20px;
}

img {
    width: 200px;
    height: 300px;
}

.design {
    display: block;
}

footer {
    margin-top: 20px;
}

footer .col-3 {
    padding-left: 200px;
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .m-col-3 {
        width: 25%;
    }
}
