.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/*
header
*/
.header {
    box-sizing: border-box;
    height: 170px;
    max-height: 170px;
    padding: 50px 0;
    width: 1000px;
    margin: 0 auto;
}
.header nav.main-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.header nav.main-menu li{
    float: left; /*căn trên 1 dòng về phía bên trái*/
}

.header nav.main-menu a{
    display: inline-block;
    padding: 10px 25px;
    color: #8d8d8d;

    font-size: 20px;

}
/*
.header nav.main-menu i{
    font-size: 12px;
    color: #8d8d8d;
}*/
/*
banner
*/
.banner{
    margin-top: -170px;
    height: 936px;
    width: 100%;
    background: url("../images/banner.jpg") top center;
    display: table;
}
.banner h1{
    color: #000000;
    font-size: 83px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.banner h1 span {
    color: #f66c27;
}
/*.main{
    overflow: auto;
}*/
.anh{
    position: relative;
}
.anh2{
    position: absolute;
    top: 340px;
    left: 410px;
}
 img{
    margin-top: 145px;
    margin-left: 100px;
}
.skill{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    color: #222222;
    padding-top: 190px;
    margin-left: 75px;
    float: left;
}
.main nav.contact-form ul{
    list-style: none;
    padding-top: 330px;
    margin-: 102px;
}
.main nav.contact-form li{
    float: left;
}
.main nav.contact-form a {
    display: inline-block;
    padding: 12px 23px;
    color: #ff4f14;
    font-size: 25px;
}
#p1{
    padding-top: 80px;
    margin-left: 75px;
}
.main .read-more input[type="submit"]{
    background: #f48146;
    color: #ffffff;
    display: inline-block;
    width: auto;
    padding: 6px 20px;
    margin-left: 75px;
    border-radius: 32px;
    font-size: 18px;
    float: left;
}
.content #h1{
     margin-top: 200px;
     margin-left: 220px;
}
.content .text{
    padding: 50px 215px;
    text-align: center;
}
.content .text #id2{
    color: #ff4f14;
}
.content .text .col-id{
    padding-top: 86px;
}
.content .text .col-id-2{
    padding-top: 86px;
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}
.content2 #id12{
    padding-top: 80px;
    text-align: center;
}
.content2 .p12{
    padding-top: 30px;
    margin-left: 217px;
    margin-right: 217px;
    text-align: center;
}
.content2 .anh3{
    margin-top: 0px;
}
footer{
    background: linear-gradient(to right, #f66c27 50%, #ffffff 50%);
}
footer .contact-form{
    background: #f66c27;
    box-sizing: border-box;
    height: 700px;
}
.contact-form .content-row{
    background: #ffffff;
    padding: 60px;
    margin-top: 128px;
    margin-right: 100px;
}
.content-row input, textarea{
    border: none;
    border-bottom: 1px solid #c8c8c8;
    width: 100%;
    font-size: 15px;
    color: #777777;

}
.first-row input{
    width: 40%;
}
.first-row:after{
    content: '';
    clear: both;

}
.first-row input[name="email"]{
    float: right;
}
.content-row input[type="text"]{
    padding: 5px;
}
.content-row input:focus, textarea:focus{
    outline: none; /*bỏ dòng gạch xanh mỗi khi nhấp chuột*/
}
.contact-form-row{
    margin-bottom: 20px;
}
.submit-row{
    text-align: center;
    color: #ffffff;
}
.contact-form input[type="submit"]{
    background: #f48146;
    color: #ffffff;
    display: inline-block;
    width: auto;
    padding: 6px 20px;
    border-radius: 32px;
    font-size: 18px;
}
footer .contact-info {
    box-sizing: border-box;
    height: 700px;
    padding-left: 100px;
}
footer .contact-info h3{
    margin-top: 108px;
    font-size: 45px;
}
.line-contact-info{
    padding: 20px 0;
}
.line-contact-info h4{
    color: #333333;
    font-size: 25px;
}
.line-contact-info p{
    font-size: 15px;
    max-width: 300px;
}
.line-contact-info p span{
    color: #f48146;
    background: #ffffff;
}
footer .social-icon i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #bbbbbb;
    text-align: center;
    color: #ffffff;
    margin-right: 20px;
}
footer .social-icon i:hover{
    background: #f48146;
}
